*.pyc

Source/config.json
Source/*.log

Source/Data/*

!Source/Data/AutoIt

!Source/Data/Other
Source/Data/Other/*
!Source/Data/Other/Queries

!Source/Data/Plugins
Source/Data/Plugins/*
!Source/Data/Plugins/standalone_media.html.template
!Source/Data/Plugins/BrowserPluginExtender
!Source/Data/Plugins/Java
Source/Data/Plugins/Java/*
!Source/Data/Plugins/Java/*.template

!Source/Data/Profile
Source/Data/Profile/pluginreg.dat