APScheduler==3.11.2
atproto==0.0.65
brotlicffi==1.2.0.1
limits==5.8.0
Mastodon.py==2.2.1
PyTumblr==0.1.2
pywinauto==0.6.9
requests==2.34.2
selenium==3.141.0
tldextract==5.3.1
tweepy==4.16.0
typing_extensions==4.14.0
waybackpy==3.0.6

# Fixes an error when creating the Firefox WebDriver with Selenium.
# See: https://stackoverflow.com/a/78006493/18442724
urllib3==1.26.16