APScheduler==3.11.0
atproto==0.0.59
brotlicffi==1.0.9.2
limits==2.6.2
Mastodon.py==2.0.1
PyTumblr==0.1.2
pywinauto==0.6.8
requests==2.31.0
selenium==3.141.0
tldextract==3.3.0
tweepy==4.15.0
typing-extensions>=4.3
waybackpy==3.0.6

# Fixes an error when creating the Firefox WebDriver with Selenium.
# See: https://stackoverflow.com/a/78006493/18442724
urllib3==1.26.16